{% extends 'TEMPO/band_base.html' %}
{% block title %}
    <title>Band Live Session</title>
{% endblock %}
{% block band_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "TEMPO/css/band_live_session.css" %}">
{% endblock %}
{% block nav-item %}
    <li class="nav-item first-item">
        <a href="{% url 'my-band' %}">Band Profile</a>
    </li>
    <li class="nav-item active-item">
        <a href="{% url 'live-session' %}"><span>Live Sessions</span></a>
    </li>
    <li class="nav-item">
        <a href="{% url 'practice-session' %}">Practice Sessions</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'song-list' %}">Song Lists</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'band-calendar' %}">Calendar</a>
    </li>
{% endblock %}
{% block main %}
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <button class="add-new-button" onclick="location.href='{% url 'add-event' %}'"><i
                        class="fa fa-plus-square"
                        aria-hidden="true">&nbspAdd
                    new live session</i></button>
            </div>
            <div class="col-md-8 offset-md-2">
                <input hidden="hidden" id="bandname" value="{{ band.band_name }}">
                {% if not events %}
                    <h2>There hasn't been any event yet.</h2>
                {% endif %}
                {% for event in events %}
                    <div class="live-session-card">
                        <ul>
                            <li><img class="photo" src="{% url 'event-photo' event.id %}"></li>
                            <li>
                                <ul>
                                    <li><span class="label">Name:&nbsp&nbsp</span><span
                                            class="text">{{ event.name }}</span>
                                    </li>
                                    <li><span class="label">Date & Time:&nbsp&nbsp</span><span
                                            class="text">{{ event.date_time }}</span></li>
                                    <li><span class="label">Location:&nbsp&nbsp</span><span
                                            class="text">{{ event.location }}</span></li>
                                    <br>
                                    <li class="song-list-link">Click <a href="{% url 'songs' event.id %}">here</a> to see song list!</li>
                                </ul>
                            </li>
                            {% if event.is_end %}
                                <li>
                                    {% load static %}
                                    <img class="end-sign" src="{% static 'TEMPO/images/end_sign.jpg' %}">
                                </li>
                            {% endif %}
                            {% if event.is_live %}
                                <li>
                                    <button onclick="location.href='{% url 'watch-event' event.id %}'"><i
                                            class="fa fa-youtube-play text" aria-hidden="true">&nbspJoin</i></button>
                                </li>
                            {% endif %}
                            {% if not event.is_live %}
                                <li>
                                    <button id="delete-button" onclick="delete_event({{ event.id }})"><i
                                            class="fa fa-window-close text" aria-hidden="true">&nbspDelete</i></button>
                                </li>
                            {% endif %}
                            {% if not event.is_end and not event.is_live %}
                                <li>
                                    <button onclick="location.href='{% url 'start-event' event.id %}'"><i
                                            class="fa fa-youtube-play text" aria-hidden="true">&nbspStart</i></button>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
{% block javascript %}
    {% load static %}
    <script src='{% static 'TEMPO/js/band_live_session.js' %}'></script>
{% endblock %}